<div style="width: 85%; height: 85%;">
  <tims-tims-grid [displayDetails]="true" [columnPipes]="pipesToApply" [columnNames]="columnNameArray" [columnIds]="displayedColumns"
      [dataProvider]="getRepoIssues" [sortable]="true" [buttons]="['edit','remove','approve','deny', 'generate']" [buttonActions]="[edit,remove,approve, deny, generate]">
    </tims-tims-grid>
</div>
<!-- [buttons]="['edit','save','view','delete','approve','deny']" [buttonActions]="[edit,save,view,'delete',approve, deny]" -->
