<div>
  <form [formGroup]="totalGrade" (ngSubmit)="saveAll()" #total="ngForm">

    <!-- OCENE -->

    <div class="infoCard">
      <mat-form-field class="inline_field">
        <input type="number" required matInput formControlName="totalWHAT" min="1" max="5"
          placeholder="Ukupna ocena WHAT (1 do 5)"/>
      </mat-form-field>
      <mat-form-field class="inline_field">
        <input type="number" required matInput formControlName="totalHOW" min="1" max="5"
          placeholder="Ukupna ocena HOW (1 do 5)"/>
      </mat-form-field>
      <mat-form-field class="inline_field">
        <input type="number" required matInput formControlName="total" min="1" max="5"
          placeholder="Ukupna ocena ucinka (1 do 5)"/>
      </mat-form-field>
    </div>

    <!-- POTENCIJAL -->

    <div class="infoCard">
      <label class="inline_field label" for="potential">Potencijal:</label>
      <mat-form-field class="inline_field" id="potential">
        <mat-select formControlName="potential" [(value)]="selectedPotential">
          <mat-option *ngFor="let pot of potentialOptions" [value]="pot.Motiv8EmployeePotential1">
            {{pot.PotentialName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field class="full-width textarea">
        <textarea formControlName="potentialDesc" matInput placeholder="Unesi tekst"></textarea>
      </mat-form-field>
    </div>


    <!-- TABELA RAZVOJA -->


    <div class="infoCard">

      <table mat-table [dataSource]="devPlans" >


        <ng-container matColumnDef="DevelopmentNeed">
          <th mat-header-cell *matHeaderCellDef> Razvojna potreba </th>
          <td mat-cell *matCellDef="let element"> {{element.DevelopmentNeed}} </td>
        </ng-container>

        <ng-container matColumnDef="DevelopmentAction">
          <th mat-header-cell *matHeaderCellDef> Aktivnost </th>
          <td mat-cell *matCellDef="let element"> {{element.DevelopmentAction}} </td>
        </ng-container>

        <ng-container matColumnDef="ResponsibleEmployeeFullName">
          <th mat-header-cell *matHeaderCellDef> Mentor </th>
          <td mat-cell *matCellDef="let element"> {{element.ResponsibleEmployeeFullName}} </td>
        </ng-container>

        <ng-container matColumnDef="Deadline">
          <th mat-header-cell *matHeaderCellDef> Rok </th>
          <td mat-cell *matCellDef="let element"> {{element.Deadline}} </td>
        </ng-container>

        <ng-container matColumnDef="Buttons">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button type="button" mat-raised-button color="warn" [disabled]="canEdit() === false" (click)="deleteDev(element)">Obrisi</button>
            <button *ngIf="isDevEdit !== true" style="margin-left: 15px" type="button" mat-raised-button color="accent" [disabled]="canEdit() === false" (click)="editDev(element)">Izmeni</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <div *ngIf="canEdit() === true">
        <form (ngSubmit)="saveDev()" [formGroup]="devPlan" #devPlanForm="ngForm">

          <mat-form-field class="inline_field">
            <input type="text" required matInput formControlName="devNeed"
              placeholder="Razvojna Potreba"/>
          </mat-form-field>
          <mat-form-field class="inline_field">
            <input type="text" required matInput formControlName="devActivity"
             placeholder="Aktivnost"/>
          </mat-form-field>
          <mat-form-field class="inline_field">
            <input  required type="text" placeholder='Mentor' matInput formControlName="devMentor" [matAutocomplete]="auto" />
            <mat-autocomplete
              [displayWith]="objectToString"
              #auto="matAutocomplete"
            >
            <div *ngFor="let option of filteredOptions">
              <mat-option [value]="option" *ngIf="option">{{objectToString(option)}}</mat-option>
            </div>
          </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="inline_field">
            <input required matInput formControlName="devDeadline" [matDatepicker]="picker" placeholder="Rok">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <button *ngIf="isDevEdit === true" style="margin-left: 15px" type="button" mat-raised-button color="accent" [disabled]="canEdit() === false" (click)="saveDev()">Izmeni</button>
          <button *ngIf="isDevEdit !== true" type="submit" style="margin-left: 15px" mat-raised-button class="mgtbOne myColorGreen" [disabled]="!devPlanForm.form.valid">Dodaj</button>
        </form>
      </div>
    </div>

    <!-- KOMENTARI -->

    <div >
      <mat-form-field class="full-width textarea">
        <textarea formControlName="managerComment" matInput placeholder="Komentar poslodavca"></textarea>
      </mat-form-field>
      <br>
      <mat-form-field class="full-width textare">
        <textarea formControlName="employeeComment" matInput placeholder="Komentar zaposlenog"></textarea>
      </mat-form-field>
    </div>

    <div *ngIf="canEdit() === true">
      <button type="submit" mat-raised-button class="mgtbOne myColorGreen" [disabled]="!total.form.valid">Sacuvaj</button>
    </div>
  </form>
</div>
