<form [formGroup]="employeePaidAbsenceForm">
  <div class="dates-row">

        <!-- <mat-form-field class="substitute-auto">
            <input type="text" placeholder="Zaposleni" aria-label="Zaposleni" matInput formControlName="employeeAbsenceDetail"
              [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let employee of employeeOptions" [value]="employee">
                {{employee.FirstName}} {{employee.Surname}} {{employee.JobTypeName}}

              </mat-option>
            </mat-autocomplete>
          </mat-form-field> -->

        <mat-form-field class="dates-row">
          <input matInput [min]="minDate"  [matDatepickerFilter]="disableWeekdays" [matDatepicker]="from" placeholder="Početak" formControlName="fromDate">
          <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
          <mat-datepicker #from></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="dates-row">
          <input matInput [min]="employeePaidAbsenceForm.controls.fromDate.value" [matDatepickerFilter]="disableWeekdays" [matDatepicker]="to" placeholder="Kraj" formControlName="toDate">
          <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
          <mat-datepicker #to></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="dates-row">
          <mat-select placeholder="Tip plaćenog odsustva" formControlName="absenceSubtype">
            <mat-option *ngFor="let type of absenceSubtypeOptions" [value]="type.HRabsenceSubtypeId">
              {{ type.Name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

  </div>

  <div>
    <button type="submit" [disabled]="!employeePaidAbsenceForm.valid" mat-raised-button (click)="saveAbsence()">Sačuvaj</button>
    <button type="submit" mat-raised-button (click)="cancelAbsence()">Odustani</button>
  </div>

  <div style="width: 99%; height: 85%;" >
    <tims-tims-grid *ngIf="roleId !== rolaManager && roleId !== rolaHRManager ? true : false" [displayDetails]="true" [columnPipes]="pipesToApply" [columnNames]="columnNameArray" [columnIds]="displayedColumns"
        [dataProvider]="detailsEmployeeAbsence" [sortable]="true">
      </tims-tims-grid>
  </div>
</form>
