<form [formGroup]="employeeSickAbsenceForm">
  <div class="dates-row">
    <div class="date-from">
      <mat-form-field>
        <input matInput [matDatepickerFilter]="disableWeekdays" [matDatepicker]="from" placeholder="Početak" formControlName="fromDate">
        <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
        <mat-datepicker #from></mat-datepicker>
      </mat-form-field>
    <!-- </div>
    <div class="date-to"> -->
      <mat-form-field>
        <input matInput [min]="employeeSickAbsenceForm.controls.fromDate.value" [matDatepickerFilter]="disableWeekdays" [matDatepicker]="to" placeholder="Kraj" formControlName="toDate">
        <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
        <mat-datepicker #to></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div class="dates-row">
    <mat-form-field>
      <mat-select placeholder="Tip poodsustva" formControlName="absenceSubtype">
        <mat-option *ngFor="let type of absenceSubtypeOptions" [value]="type.HRabsenceSubtypeId">
          {{ type.Name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  <!-- </div>

  <div class="dates-row"> -->
    <mat-form-field>
      <mat-select placeholder="Šifra bolesti" formControlName="sickLeaveType">
        <mat-option *ngFor="let type of sickLeaveTypeOptions" [value]="type.HRAbsenceSickLeaveTypeID">
          {{ type.Name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  <!-- </div>

  <div class="dates-row"> -->
    <mat-form-field>
      <mat-select placeholder="Tip bolovanja" formControlName="sickLeaveCode">
        <mat-option *ngFor="let type of sickLeaveCodeOptions" [value]="type.HRSickLeaveCodeId">
          {{ type.Name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="substitute-auto">
      <input type="text" placeholder="Zaposleni" aria-label="Zaposleni" matInput formControlName="employeeControl"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let employee of employeeOptions" [value]="employee">
          {{employee.FirstName}} {{employee.Surname}} {{employee.JobTypeName}}
          <!-- {{option.FirstName}} {{option.Surname}} : {{option.OrgUnitName}} -->
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div>
    <button type="submit" mat-raised-button (click)="saveAbsence()">Sačuvaj</button>
  </div>
</form>