<form [formGroup]="employeeSickAbsenceForm">
    <div class="dates-row">

          <mat-form-field class="substitute-auto">
              <input type="text" placeholder="Zaposleni" aria-label="Zaposleni" matInput formControlName="employeeAbsenceDetail"
                [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let employee of filterOptions" [value]="employee">
                  {{employee.FirstName}} {{employee.Surname}} {{employee.JobTypeName}}
                  <!-- {{option.FirstName}} {{option.Surname}} : {{option.OrgUnitName}} -->
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="dates-row">
              <input matInput [matDatepickerFilter]="disableWeekdays" [matDatepicker]="from" placeholder="Početak" formControlName="fromDate">
              <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
              <mat-datepicker #from></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="dates-row">
              <input matInput [min]="employeeSickAbsenceForm.controls.fromDate.value" [matDatepickerFilter]="disableWeekdays" [matDatepicker]="to" placeholder="Kraj" formControlName="toDate">
              <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
              <mat-datepicker #to></mat-datepicker>
            </mat-form-field>

  </div>

  <div class="dates-row">
    <mat-form-field class="dates-row">
      <mat-select placeholder="Tip poodsustva" formControlName="absenceSubtype">
        <mat-option *ngFor="let type of absenceSubtypeOptions" [value]="type.HRabsenceSubtypeId">
          {{ type.Name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="dates-row">
      <mat-select placeholder="Šifra bolesti" formControlName="sickLeaveType">
        <mat-option *ngFor="let type of sickLeaveTypeOptions" [value]="type.HRAbsenceSickLeaveTypeID">
          {{ type.Name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="dates-row">
      <mat-select placeholder="Tip bolovanja" formControlName="sickLeaveCode">
        <mat-option *ngFor="let type of sickLeaveCodeOptions" [value]="type.HRSickLeaveCodeId">
          {{ type.Name}}
        </mat-option>
      </mat-select>
    </mat-form-field>


  </div>
  <div class="dates-row">
    <button type="submit" [disabled]="!employeeSickAbsenceForm.valid" mat-raised-button (click)="saveAbsence()">Sačuvaj</button>
    <button type="submit" mat-raised-button (click)="cancelAbsence()">Odustani</button>
  </div>

  <div style="width: 85%; height: 85%;">
    <tims-tims-grid [displayDetails]="true" [columnPipes]="pipesToApply" [columnNames]="columnNameArray" [columnIds]="displayedColumns"
        [dataProvider]="detailsEmployeeAbsence" [sortable]="true" [buttons]="['edit','remove']" [buttonActions]="[edit,remove]">
      </tims-tims-grid>
  </div>
</form>
