// .form-container {
//   margin: 16px;
//   padding: 16px;

  .dates-row {
    // display: flex;
    // align-content: space-between;
    padding: 10px;

  }

  .date {
    margin-right: 8px;
  }
  .date-from {
    @extend .date;
  }

  .date-to {
    @extend .date;
  }


  .color{
    background: #42A948; /* green */
  }
//}
table {
  width: 100%;
}

.substitute-auto{
  width: 500px;
  padding: 10px;
}

