<form [formGroup]="employeeAbsenceForm">
  <div class="dates-row">
    <div class="date-from">
      <mat-form-field>
        <input matInput [matDatepicker]="from" placeholder="Početak Odmora" formControlName="fromDate">
        <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
        <mat-datepicker #from></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="date-to">
      <mat-form-field>
        <input matInput [matDatepicker]="to" placeholder="Kraj Odmora" formControlName="toDate">
        <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
        <mat-datepicker #to></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="dates-row>">
    <mat-form-field class="substitute-auto">
      <input type="text" placeholder="Zamena" aria-label="Zamena" matInput formControlName="replaceEmployee"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let employee of filteredSubEmployeeOptions | async" [value]="employee">
          {{employee.FirstName}} {{employee.Surname}}
          <!-- {{option.FirstName}} {{option.Surname}} : {{option.OrgUnitName}} -->
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div>
    <!--<button type="submit" [disabled]="!employeeAbsenceForm.valid" mat-raised-button (click)="saveAbsence()">Sačuvaj</button>-->
    <button type="submit" [disabled]="!subsService.canSave" mat-raised-button (click)="saveAbsence()">Sačuvaj</button>
    <!-- <button mat-raised-button (click)="goBack()">Odustani</button> -->
  </div>
</form>
<!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form> -->
  