<form [formGroup]="employeeAbsenceForm">

  <div class="dates-row">
    <mat-form-field >
        <input matInput   placeholder="Stari odmor:"  formControlName="remainingDaysPreviousYear">
         </mat-form-field>

      <mat-form-field class="dates-row">
          <input matInput  placeholder="Novi odmor:" formControlName="remainingDays">
     </mat-form-field>

     <mat-form-field class="dates-row">
      <input matInput  placeholder="Ukupno:"  formControlName="totalDays" >
 </mat-form-field>
  </div>
  <!-- <div class="dates-row"> -->
    <mat-form-field class="dates-row">
        <input matInput [min]="minDate"  [matDatepickerFilter]="disableWeekdays" [matDatepicker]="from" placeholder="Početak" formControlName="fromDate">
        <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
        <mat-datepicker #from></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="dates-row">
        <input matInput [min]="employeeAbsenceForm.controls.fromDate.value"   [matDatepickerFilter]="disableWeekdays" [matDatepicker]="to" placeholder="Kraj" formControlName="toDate">
        <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
        <mat-datepicker #to></mat-datepicker>
      </mat-form-field>


    <mat-form-field class="substitute-auto">
      <input type="text" placeholder="Zamena" aria-label="Zamena" matInput formControlName="replaceEmployee"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let employee of filteredOptions" [value]="employee">
          {{employee.FirstName}} {{employee.Surname}} {{employee.JobTypeName}}
          <!-- {{option.FirstName}} {{option.Surname}} : {{option.OrgUnitName}} -->
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  <!-- </div> -->


  <div class="dates-row">
    <!--<button type="submit" [disabled]="!employeeAbsenceForm.valid" mat-raised-button (click)="saveAbsence()">Sačuvaj</button>-->
    <button type="submit" [disabled]="!employeeAbsenceForm.valid" mat-raised-button (click)="saveAbsence()"> Sačuvaj</button>
    <button type="submit" mat-raised-button (click)="cancelAbsence()">Odustani</button>
  </div>


  <div style="width: 99%; height: 85%;" >
    <tims-tims-grid *ngIf="roleId !== rolaManager && roleId !== rolaHRManager ? true : false" [displayDetails]="true" [columnPipes]="pipesToApply" [columnNames]="columnNameArray" [columnIds]="displayedColumns"
        [dataProvider]="detailsEmployeeAbsence" [sortable]="true">
      </tims-tims-grid>
  </div>
 </form>

