<hr-info-card [loggedUser]="currentUser"></hr-info-card>

<div class="row"><mat-form-field>
    <mat-select [(value)]="EmployeeID">
      <mat-option *ngFor="let item of listOfEmployeeByManager" value="{{ item.EmployeeID }}">{{item.EmployeeFullName}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button class="mySelectButton" [disabled]="!currentUserInfo.EmployeeIsManager" mat-raised-button (click)="getDataForEmployee()">Prikazi ciljeva za odabranog zapolenog</button>
  <button class="mySelectButton" mat-raised-button (click)="getDataForMe()">Moji ciljevi</button>
</div>


<mat-tab-group>
  <mat-tab label="Godisnji WHAT obrazac">
    <hr-what-request [loggedUser]="currentUser" [events]="eventsSubject.asObservable()"></hr-what-request>
   </mat-tab>
  <mat-tab label="Polugodisnja WHAT ocena">
     <hr-what-half [loggedUser]="currentUser" [events]="eventsSubject.asObservable()"></hr-what-half>
  </mat-tab>
  <mat-tab label="Godisnja WHAT ocena">
  <hr-what-yearly [loggedUser]="currentUser" [events]="eventsSubject.asObservable()"></hr-what-yearly>
  </mat-tab>
  <mat-tab label="Godisnji HOW">
    <hr-how [loggedUser]="currentUser" [events]="eventsSubject.asObservable()"></hr-how>
  </mat-tab>
  <mat-tab label="Ukupna godisnja ocena">
    <hr-total [user]="currentUser" [events]="eventsSubject.asObservable()"></hr-total>
  </mat-tab>
</mat-tab-group>
