<div class="row" *ngIf="ifNewForumTrue">

  <form [formGroup]="employeeWhat">
    <!-- <mat-form-field>
      <mat-select [(value)]="category" formControlName="CategoryName" placeholder="Kategorija">
        <mat-option value={{category.Motiv8TargetCategory1}} *ngFor="let category of categories">{{category.CategoryName}}</mat-option>
      </mat-select>
    </mat-form-field> -->

    <mat-form-field>
      <input required matInput formControlName="MeasurableResult" placeholder="Merljiv rezultat">
    </mat-form-field>

    <mat-form-field *ngIf="(loggedUser == userToDo.EmployeeID)">
      <input type="number" required matInput formControlName="TargetEmployeeMark" min="1" max="5" placeholder="Ocena zaposlenog (1 do 5)">
    </mat-form-field>

    <mat-form-field *ngIf="!(loggedUser == userToDo.EmployeeID)">
      <input type="number" required matInput formControlName="TargetManagerMark" min="1" max="5" placeholder="Ocena nadredjenog (1 do 5)">
    </mat-form-field><br>

    <mat-form-field class="full-width">
      <textarea matInput required formControlName="TargetDescription" placeholder="Opis"></textarea>
    </mat-form-field><br>

    <mat-form-field *ngIf="(loggedUser == userToDo.EmployeeID)" class="full-width">
      <textarea matInput required formControlName="TargetEmployeeComment" placeholder="Komentar zaposlenog"></textarea>
    </mat-form-field>

    <mat-form-field *ngIf="!(loggedUser == userToDo.EmployeeID)" class="full-width">
      <textarea matInput required formControlName="TargetManagerComment" placeholder="Komentar nadredjenog"></textarea>
    </mat-form-field>

  </form>
  <button mat-raised-button class="mgB" color="myColor" (click)="saveExistTask()">Sacuvaj</button>
</div>

<ng-container *ngIf="tasks">

  <div class="infoCard" *ngFor="let task of tasks; let i = index">
    <ul class="inline">
      <li class="liCategoryInfo">
        <div class="universalInfo">
          <small>Kategorija:</small><br>
          {{task.TargetCategoryName}}
        </div>
      </li>
      <li class="liNameInfo">
        <div class="universalInfo">
          <small>Naziv:</small><br>
          {{task.TargetName}}
        </div>
      </li>
      <li class="liResultInfo">
        <div class="universalInfo">
          <small>Merljiv rezultat:</small><br>
          {{task.MeasurableResult}}
        </div>
      </li>
      <li class="liDateInfo">
        <div class="universalInfo">
          <small>Rok:</small><br>
          {{task.TargetDueDate | date:'dd-MM-yyyy'}}
        </div>
      </li>
      <li class="liWeightInfo">
        <div class="universalInfo">
          <small>Tezina:</small><br>
          {{task.TargetWeight}}
        </div>
      </li>
      <li class="liResultInfo" *ngIf="task.TargetEmployeeMark">
        <div class="universalInfo">
          <small>Ocena zaposlenog:</small><br>
          {{task.TargetEmployeeMark}}
        </div>
      </li>
      <li class="liResultInfo" *ngIf="task.TargetManagerMark">
        <div class="universalInfo">
          <small>Ocena nadredjenog:</small><br>
          {{task.TargetManagerMark}}
        </div>
      </li>
      <li>
          <!-- <div class="universalInfo"> -->
            <small>Opis:</small><br>
            {{task.TargetDescription}}
          <!-- </div> -->
        </li><br>
      <li>
        <!-- <button mat-raised-button class="mgtbOne">Sacuvaj i posalji</button> -->
        <!-- <button mat-raised-button class="mgtbOne" (click)="edit(task)" color="accent">Izmeni / oceni</button> -->
        <button *ngIf="(loggedUser == userToDo.EmployeeID)" [disabled]="task.ApprovedByEmployee" mat-raised-button class="mgtbOne" (click)="edit(task)" color="accent">Izmeni / oceni</button>
        <button *ngIf="!(loggedUser == userToDo.EmployeeID)" [disabled]="task.ApprovedByManager" mat-raised-button class="mgtbOne" (click)="edit(task)" color="accent">Izmeni / oceni</button>
        <button mat-raised-button class="mgtbOne myColorGray" *ngIf="task.TargetEmployeeMark && (loggedUser == userToDo.EmployeeID) && !task.ApprovedByEmployee" (click)="approveEmployee(task)">Sacuvaj i prosledi (zaposleni)</button>
        <button mat-raised-button class="mgtbOne myColorGreen" *ngIf="task.TargetManagerMark && !(loggedUser == userToDo.EmployeeID)  && !task.ApprovedByManager" (click)="approveManager(task)">Sacuvaj i potvrdi (rukovodilac)</button>
      </li>
    </ul>
  </div>

</ng-container>
