<form [formGroup]="employeeWorksheetsForm">
  <div class="dates-row>">
    <mat-form-field class="substitute-auto">
        <input type="text" placeholder="Zaposleni" aria-label="Zaposleni" matInput formControlName="employee"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let employee of employeeOptions" [value]="employee">
            {{employee.FirstName}} {{employee.Surname}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
  </div>
  <div class="dates-row>">
        <mat-form-field>
          <mat-select placeholder="Godina" formControlName="year">
            <mat-option *ngFor="let item of worksheetsYearOptions" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
</form>  
