td{
    max-width: 50px;
    //mat-form-field{
        //display:hidden;
    //}
    //.mat-select{
        //max-width: 50px;
        //display: hidden;
    //}
    .dates-row{
        overflow: hidden;
        font-size: 12px;
    }
  
}

th{
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 15px;
    font-weight: 500;
    
}

