<form [formGroup]="worksheetsForm">
  <div class="dates-row>">
    <mat-form-field>
      <mat-select placeholder="Mesec" formControlName="month">
        <mat-option *ngFor="let item of worksheetsMonthsOptions" [value]="item.Id">
          {{ item.Name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="dates-row>">
    <mat-form-field>
      <mat-select placeholder="Godina" formControlName="year">
        <mat-option *ngFor="let item of worksheetsYearsOptions" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="dates-row>">
    <mat-form-field class="substitute-auto">
      <mat-select placeholder="Organizacione jedinice" formControlName="orgUnit" >
       <mat-option *ngFor="let orgUnit of orgUnitOptions" [value]="orgUnit">
          {{orgUnit.Name}}
        </mat-option>
      </mat-select>
      </mat-form-field>
  </div>

  <div class="dates-row>">
    <mat-form-field class="substitute-auto">
      <mat-select placeholder="Evidentičari" formControlName="registrator">
        <mat-option *ngFor="let reg of registratorOptions" [value]="reg.EmployeeID">
          {{reg.EmployeeFullName}}
        </mat-option>
      </mat-select>
     
    </mat-form-field>
  </div>
  <div>
    <button type="submit" mat-raised-button (click)="detailsPresence()">Prikaži</button>
  </div>
  <br />
<div>
  <button type="submit" mat-raised-button (click)="compareWorksheets()"> Uporedi radne liste</button>
</div>

  <br />
  <br />
  <div>
    <table class="mat-elevation-z8">
      <th>Zaposleni</th>
      <th *ngFor="let item of dateList">{{item}}</th>
      <tr *ngFor="let item of employeePresenceList">
        <td>{{ item.EmployeeFullName }} </td>
        <td *ngFor="let date of item.DayStatus; let i=index" >
          <div class="dates-row">
            <mat-form-field>
              <mat-select (selectionChange)="selectedItem(item,i,$event.value)" [value]="date">
                <mat-option *ngFor="let selectOption of absenceTypeOptions" [value]="selectOption.HRAbsenceTypeID"> 
                  {{ selectOption.Code }}
                </mat-option>
              </mat-select>
            </mat-form-field> 
          </div>
        </td>
      </tr>

    </table>
  </div>
  <br />
  <div>
    <button type="submit" mat-raised-button (click)="saveWorksheets()"> Sačuvaj</button>
  </div>
  <br />
  <br />
  <div>
    <table class="mat-elevation-z8">
      <th>Zaposleni</th>
      <th>Organizaciona jedinica</th>
      <th *ngFor="let item of dateList">{{item}}</th>
      <tr *ngFor="let item of comparePresenceList">
        <td>{{ item.EmployeeFullName }} </td>
        <td>{{ item.OrgUnitName }} </td>
        <td *ngFor="let date of item.PresenceTypeCode" [style.background-color]="item.PresenceListConflictType != null ? 'red' : 'white'">
          {{date}}
        </td>
      </tr>
      <!-- <td [style.background-color]="i == rowNum ? 'red' : 'green'" ></td> -->
    </table>
  </div>

</form>
<br />



