td{
    max-width: 45px;
    overflow: hidden;
    //mat-form-field{
        //display:hidden;
    //}
    .dates-row{
        overflow: hidden;
        font-size: 10px;


    }
    .mat-form-field{
        width: 40px;
        overflow: hidden;
        padding:0px;
    }

}

th{
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 15px;
    font-weight: 500;
    background-color: rgb(210, 221, 221);

}
table {
    width: 100%;
  }

  .form-container {
    margin: 16px;
    padding: 16px;

    .dates-row {
      width: 100%;
      display: flex;
      align-content: space-between;
      padding: 10px;
    }

    .date {
      margin-right: 8px;
    }
    .date-from {
      @extend .date;
    }

    .date-to {
      @extend .date;
    }
    .substitute-auto{
      width: 300px;
    }

    .color{
      background: #42A948; /* green */
    }
  }
  table {
    width: 100%;
  }
  .mat-form-field{
    padding: 10px;
    //padding-top: 10px;
  }

  .legend{
    font-size: 12px;
  }

