td{
    max-width: 50px;
    overflow: hidden;
    //mat-form-field{
        //display:hidden;
    //}
    .dates-row{
        overflow: hidden;
        font-size: 12px;
    }
    .mat-form-field{
        width: 45px;
        overflow: hidden;
    }
  
}

th{
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 15px;
    font-weight: 500;
    
}

